body{
    margin: 0px;
    background-color:#0D0D0D ;
}
p{
    color:#F0F0F0;
    font-family: Roboto; 
}
.mainText{
    color:#F0F0F0;
    font-family: Roboto;
}
button{
    background-color:#FF7F50;
    color: #F0F0F0;
}
.KeyText{
    color:#FF7F50;
    font-family:Poppins;
    font-size: 1.2em;
}
h1, h2, h3, h4, h5, h6{
    color:#FF7F50;
    font-family:Poppins;
    font-size: 2.2em;
}

/*THE FOLLOWING IS FOR THE NAVIGATION TAB WITH THE DIRECTORY AND TITLE*/
.navContainer{
    display: flex;
    align-items: flex-start;
    position: sticky;
    top: 0px;
    background-color: black;
}
.PageTitle{
    width: 60%;
    color:#FF7F50;
    font-family:poppins;
    padding-left: 5%;
    font-size: 2.2em;
  
}
nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 15px;
    padding-right: 0px;
    flex-grow: 2;
}
nav a {
    background-color:#FF7F50;
    color: #F0F0F0;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 3px;
}
nav a:hover{
    transform: scale(1.5, 1.5);
}

@media only screen and (max-width:958px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        padding: 15px;
    }
    .navContainer{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    nav a {
        margin-top: 3px;
        margin-bottom:  3px;
    }
    .PageTitle{
        font-size: 5.2em;
    }
    
    .aboutSelfContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 45px 20%;
    }
    .aboutSelfContainer div img{
        width: 100%;
        
    }

    
}

/*the following is the image section with a small intro a hire me and contact me button as well*/

.titleSection{
    width: 100%;
    height: 500px;
    background-image: url(background\ image.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleSectionContent{
    align-self: center;
    justify-content: center;
}
.titleSectionContent h1{
    text-align: center;
    color:#FF7F50;
    font-family:Poppins;
    font-size: 4.7em;
}


.titleSectionContactButtons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.titleSectionContactButtonsIndividual{
    padding: 20px;
    font-size: larger;
    border-radius: 5px;
}

/*about self container css and styling*/
.aboutSelfContainer{
    display: flex;
    justify-content: space-between;
    margin: 45px 20%;

}
.aboutSelfContainer div img{
    width: 350px;
    padding: right 20px;
}
.aboutSelfContainer .aboutSelfContainerText{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}


/*Services text and header*/
.ServiceOption{
    display: flex;
    margin: 15px 20%;
    flex-flow: column wrap;
}
.ServiceOption button {
    align-self: flex-end;
    justify-content: center;
}
.ServiceOptionDetails{
    display: none;
}

/*Game display and text*/
.gameUserInterface{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.ShowMoreButton:hover{
    transform: scale(2, 2);
}

.gameUserEnter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gameUserEnter button{
    margin: 50px 20%;
    font-size: xx-large;
    padding: 25px;
    border-radius: 10px;
}

.footerContainer{
    background-color: white;
    display: flex;
    
    
    bottom: 0px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 0px;

}
.footerContainerLink a{
    text-decoration: none;
    color:#FF7F50;
    padding: 15px 10px;
    font-size: larger;
    background-color: #0D0D0D;
    border-radius: 15px;
}

.footerContainerSocial{
    justify-self: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.footerContainerLink a:hover{
    box-shadow: grey 1px 2px 5px ;
}

/*This is for the about me styling nothing more*******************************************************/

.contentBlockItems{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: #0D0D0D;
    font-size: 1.4em;
    width: 80%;
    margin: 5px 10%;
}
.contentBlock-1{
    background-color: black;
    /*border-color: #0D0D0D;*/
    background-image: linear-gradient(-45deg, black 0%, red 25%, black 51%, blue 100%);
    animation: 5s ease infinite;
    animation-name: AnimatedBG;
    border-radius: 5px;
    border: 1px;
    padding: 15px;
    box-shadow: #FF7F50 2px 5px 5px;
    margin-top: 50px;
    width: 100%;

}
.contentBlock-2{
    background-color: black;
    border-color: #0D0D0D;
    background-image: linear-gradient(25deg, black 0%, red 25%, black 51%, blue 100%);
    border-radius: 5px;
    border: 1px;
    padding: 15px;
    box-shadow: #FF7F50 2px 5px 5px;
    margin-top: 50px;
    width: 100%;
    
}
.contentBlock-3{
    background-color: black;
    border-color: #0D0D0D;
    border-radius: 5px;
    background-image: linear-gradient(-65deg, black 0%, red 25%, black 51%, blue 100%);
    border: 1px;
    padding: 15px;
    box-shadow: #FF7F50 2px 5px 5px;
    margin-top: 50px;
    width: 100%;
    margin-bottom: 25px ;
    color: white;
}
.beginGameButton:hover {
    background-image: linear-gradient(-65deg, black 0%, black 25%, black 51%, blue 100%);
    transform: rotate(10deg);
}

@keyframes AnimatedBG {
    0% {
        background-position: 20% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/*CONTACT FROM CSS*/
.contactForm{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.ContactDetailsSection{
    font-size: larger;
    padding-top: 25px;
    padding-bottom: 25px;
}
.PeronalDetailsSection{
    font-size: larger;
    padding-top: 25px;
    padding-bottom: 25px;
}
.QuerySectionDetails{
    font-size: larger;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footerContainer-ContactForm{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: white;
display: flex;
bottom: 0px;
width: 100%;
flex-direction: column;
align-items: center;
padding-bottom: 20px;
margin-bottom: 0px;
}
.ContactFormField:valid{
    border: 2px green; 
}
.ContactFormField:invalid{
    color: red;
    border: red 2px dashed;

}


/*for use on p[ortfolio sel;ection device*/

.selectioncontentPosition{
    position:absolute;
    top: 250;
    width: 80%;
    margin: 10px 10%;
}
.project_Selection{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin: 10px 10%;
    grid-gap: 5px 5px ;
}
.Portfolio_selection_header{
    text-align: center;
}
.selectionOption{
    border: #F0F0F0;
    background-color: #FF7F50;
    color: white;
    text-align: center;
    border-radius: 4px;
}
.selectionOption h1,h2,h3,h4,h5,h6{
    color: white;
}
.selectionOption:hover{
    background-color: blue;
    text-shadow: #0D0D0D 2px 1px 3px;
}

.selected__portfolio{
   text-align: center;
}
.portfolio-option{
    display: none;
}
